fastapi
uvicorn
python-multipart
langchain
langchain-core
langchain-community
chromadb
sqlalchemy
alembic
python-dotenv
pydantic
unstructured
psycopg2-binary
streamlit
requests
pandas
pdfminer.six
pi_heif
unstructured_inference
pdf2image
tiktoken
cohere
langchain_google_genai
sentence_transformers
git+https://github.com/brandonstarxel/chunking_evaluation.git