fastapi
uvicorn
python-multipart
langchain
langchain-community
chromadb
sqlalchemy
alembic
python-dotenv
openai
unstructured
psycopg2-binary
streamlit
requests
pandas
pdfminer.six
pi_heif
unstructured_inference
pdf2image
tiktoken